html{
  scroll-behavior: smooth;
}
.box{
  width: 450px;
  height: 450px;
  padding: 40px;
  margin:auto;
  margin-top: 30px;
  border: 1px solid;
  text-align: center;
  font-family: 'Sofia',sans-serif;
background-image: linear-gradient(to top right,#ffc0cb,#b2ffff
); 
  box-shadow: 5px 5px 8px blue, 10px 10px 8px black, 15px 15px 8px white;
}

#id{
  width: 140px;
margin:0 auto;
border-top: 1px solid white;
margin-top: 150px;
font-size: 30px;
}

nav{
  text-decoration: none;
  text-align:center;
  font-family: 'Lato',sans-serif;
  overflow: auto;
  font-size: 15px;
  word-spacing: 6px;

}
a{
  color: black;
  word-spacing: 4px;
  text-decoration: none;
}

nav a:hover{
  background-color: #e0ffff
}

.column_middle{
  width: 450px;
  height: 250px;
  padding: 40px;
  margin:auto;
  margin-top: 20px;
  border: 1px solid;
  text-align: center;
  font-family: 'Sofia',sans-serif;
background-image: linear-gradient(to top right,#ffc0cb,#b2ffff
); 
}
.resume_frame{
  width: 50%;
  height: 80%
  margin:auto;
    padding: 12px;
  margin-top: 30px;
  margin-left: 24%;
  border: 1px solid;
  text-align: center;
  font-family: 'Sofia',sans-serif;
background-image: linear-gradient(to top right,#ffc0cb,#b2ffff
); 
}

.contact{
  width: 450px;
  height: 110px;
  padding: 10px;
  margin:auto;
  margin-top: 20px;
  border: 1px solid;
  text-align: center;
  font-family: 'Sofia',sans-serif;
background-image: linear-gradient(to top right,#ffc0cb,#b2ffff
); 
}

.column_side{
    width: 12%;
   
    padding: 8px;
    margin-left: 10%;
    color:#ff8c00;

}
